[Desktop Entry]
Name=Scan Tailor Universal
Version=1.0
Exec=scantailor-universal %f
Comment=Interactive post-processing tool for scanned pages
Icon=scantailor-universal
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=2DGraphics;Graphics;RasterGraphics;Scanning;Qt;