#!/usr/bin/make -f

export DH_VERBOSE=1

DEB_CMAKE_EXTRA_FLAGS := -DCMAKE_BUILD_TYPE=Release

%:
	dh $@

# override dh_auto_test bcs of this bug: https://askubuntu.com/questions/1287947/making-deb-with-bzr-qapplication-dependency
override_dh_auto_test:
